<div class="heading_container">
<h1>Your merchants...</h1>
</div>

<div class="header_links">
<a href="/merchants/new">
  <h3>Add a new merchant</h3>
</a>
</div>




<div class="container">
  <% for merchant in @merchants %>
  <div class="merchant">
    <p><%=merchant.name%></p>
    <a href="/merchants/<%=merchant.id%>/edit"
    <p>Edit merchant</p>
    </a>
    <form method = "post" action = "/merchants/<%=merchant.id%>/delete">
    <input type="submit" value="Delete merchant"/>
    </form>
  </div>
  <% end %>

</div>
