<div class="heading_container">
<h1>Your merchants...</h1>
</div>

<div class="header_links">

  <h3><a href="/merchants/new">Create new merchant</a></h3>

</div>

<div class="container">

  <% for merchant in @merchants %>
  <div class="merchant">
    <p>Merchant name: <%=merchant.name%></p>
    <p><a href="/merchants/<%=merchant.id%>/edit" >Edit this merchant</a></p>
    <form method = "post" action = "/merchants/<%=merchant.id%>/delete">
      <input type="submit" value="Delete merchant"/>
    </form>
    <hr>
  </div>
  <% end %>

</div>
