<h1>Add a new merchant!</h1>

<div class="form-group">
<form method = "post" action = "/merchants">
  <label for="name">Merchant name:</label>
  <input id="name" type="text" name="name"/>

  <input type="submit" value="Create merchant"/>
</form>
</div>
