<div class="heading_container">
<h1>Skint? Lets find out...</h1>
</div>

<div class="container-home">
  <a href="/transactions/new" class="box">
  <div <p>New transaction</p></div>
  </a>
  <a href="/transactions" class="box">
  <div <p>View all transactions</p></div>
  </a>
  <a href="/merchants" class="box">
  <div <p>Merchants</p></div>
  </a>
  <a href="/tags" class="box">
  <div <p>Tags</p></div>
  </a>
  <a href="/budgets" class="box">
  <div <p>Budget</p></div>
  </a>
</div>
