
<h1>This is the spending tracker home page... hello!</h1>

<div class="container-home">
  <a href="/transactions" class="box">
  <div <p>My transactions</p></div>
  </a>
  <a href="/transactions/new" class="box">
  <div <p>New transaction</p></div>
  </a>
  <a href="/merchants" class="box">
  <div <p>My merchants</p></div>
  </a>
  <a href="/tags" class="box">
  <div <p>My tags</p></div>
  </a>
  <a href="/budgets" class="box">
  <div <p>My budget</p></div>
  </a>
</div>
