<!DOCTYPE html>
<html>
<head>
  <title>Spending Tracker</title>
    <link rel="stylesheet" href="/style.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel="stylesheet" type="text/css">
</head>
<body>
  <nav class="navbar">
  <a href="/" class="logo">
  <p>Skint?</p>
  </a>
  <ul class="nav-links">
    <li class="nav-item"><a href="/">Home</a></li>
    <li class="nav-item"><a href="/transactions">Transactions</a></li>
    <li class="nav-item"><a href="/merchants">Merchants</a></li>
    <li class="nav-item"><a href="/tags">Tags</a></li>
    <li class="nav-item"><a href="/budgets">Budget</a></li>
  </ul>
</nav>
  <%= yield %>
</body>
</html>
