<!DOCTYPE html>
<html>
<head>
  <title>Spending Tracker</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/transactions">My transactions</a>
      </li>
      <li>
        <a href="/merchants">My merchants</a>
      </li>
      <li>
        <a href="/tags">My tags</a>
      </li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
