
<div class="heading_container">
<h1>Your tags...</h1>
</div>


<div class="header_links">
<a href="/tags/new">
<h3>Add a new tag</h3>
</a>
</div>


<div class="container">
  <% for tag in @tags %>
  <div class="tag">
    <p><%=tag.name%></p>
    <a href="/tags/<%=tag.id%>/edit"
    <p>Edit tag</p>
    </a>
    <form method = "post" action = "/tags/<%=tag.id%>/delete">
      <input type="submit" value="Delete tag"/>
    </form>
    <hr>
  </div>
  <% end %>

</div>
